<!DOCTYPE html>
<html>

<%-include("../common/header.ejs")%>

    <body>
        <div class="wrapper">
            <%-include("../common/navbar.ejs")%>
            <%-include("../common/sidebar.ejs")%>

            <div class="content-wrapper">
                <div class="content-header">

                    <div class="container-fluid">

                        <div class="row mb-2 mt-5">
                            <div class="col-sm-6">
                                <h1 class="m-0 text-dark">
                                    <%=dashboardtitle%>
                                </h1>
                            </div>

                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                    <li class="breadcrumb-item active"> Blog </li>
                                </ol>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row mb-2 m-auto">
                    <div class="container mt-5">
                        <h1 class="text-center mb-4"> Add New Blog </h1>

                        <% if (message.length > 0) {%> 
                            <div class="alert alert-success">
                              <%= message %>
                            </div>
                        <% } %>

                        <form action="/admin/createBlog" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="inputState"> Category </label>
                                <select id="inputState" class="form-control" name="category">
                                    <option disabled selected> Select Category </option>
                                    <% for(let data of displaydata){ %>
                                        <option value="<%= data.id %>"> 
                                            <%= data.categoryName %>
                                        </option>
                                    <% } %>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label"> Title </label>
                                <input type="text" class="form-control" placeholder="Enter Blog Heading" name="blogTitle" required />
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label"> Subtitle </label>
                                <textarea type="text" class="form-control resize-disabled" placeholder="Enter Blog Quote" name="blogSubtitle" required> </textarea>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label"> Description </label>
                                <textarea type="text" class="form-control resize-disabled" placeholder="Enter Blog Quote" name="blogDescription" required> </textarea>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label"> Quote </label>
                                <textarea type="text" class="form-control resize-disabled" placeholder="Enter Blog Quote" name="blogQuote" required> </textarea>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label"> Summary </label>
                                <textarea type="text" class="form-control resize-disabled" placeholder="Enter Blog Quote" name="blogGist" required> </textarea>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label"> Conclusion </label>
                                <textarea type="text" class="form-control resize-disabled" placeholder="Enter Blog Quote" name="blogConcluder" required> </textarea>
                            </div>
                            <div class="mb-3">
                                <label for="formFile" class="form-label"> Blog Image </label>
                                <input class="form-control" type="file" id="formFile" name="blogImage" required>
                            </div>
                            <button type="submit" class="btn btn-success mb-5"> Submit </button>
                        </form>
                    </div>
                </div>

            </div>
            <%-include("../common/footer.ejs")%>
        </div>
        <%-include("../common/scripts.ejs")%>
    </body>

</html>