<!DOCTYPE html>
<html>

<%-include("../common/header.ejs")%>

    <body>
        <div class="wrapper">
            <%-include("../common/navbar.ejs")%>
            <%-include("../common/sidebar.ejs")%>

            <div class="content-wrapper">
                <div class="content-header">
                    <div class="container-fluid">

                        <div class="row mb-2 mt-5">
                            <div class="col-sm-6">
                                <h1 class="m-0 text-dark">
                                    <%=dashboardtitle%> <%=currentPage%>
                                </h1>
                            </div>

                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="/admin"> Home </a></li>
                                    <li class="breadcrumb-item active"> Dashboard </li>
                                    <li class="breadcrumb-item active"> Users </li>
                                </ol>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row mb-2 m-auto">
                    <div class="container mt-5">

                        <div class="d-flex justify-content-between">
                            <a href="/admin/addUser"> <button type="button" class="btn btn-success mb-3"> Add New User </button> </a>

                            <nav aria-label="Page navigation example">
                                <% if (count > 5) { %>
                                    <ul class="pagination">
                                        <% if (currentPage == 1) { %>
                                            <li class="page-item disabled"><a class="page-link" href="?page=<%= previousPage %>"> Previous </a></li>
                                        <% } else { %>
                                            <li class="page-ite m"><a class="page-link" href="?page=<%= previousPage %>"> Previous </a></li>
                                        <% } %>

                                        <% for (let i = 1; i <= totalPages; i++) { %>
                                            <li class="page-item"><a class="page-link" href="?page=<%= i %>"> <%= i %> </a></li>
                                        <% } %>
                                        
                                        <% if (nextPage-1 == totalPages) { %>
                                            <li class="page-item disabled"><a class="page-link" href="?page=<%= nextPage %>"> Next </a></li>
                                        <% } else { %>
                                            <li class="page-item"><a class="page-link" href="?page=<%= nextPage %>"> Next </a></li>
                                        <% } %>
                                    </ul>
                                <% } %>
                            </nav>

                            <!-- SEARCH FORM -->
                            <form>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addon2" name="search" />
                                </div>
                            </form>
                        </div>

                        <table class="table table-dark table-striped text-center mb-5">
                            <thead>
                                <tr>
                                    <th scope="col"> # </th>
                                    <th scope="col"> Image </th>
                                    <th scope="col"> Name </th>
                                    <th scope="col"> Email </th>
                                    <th scope="col"> Mobile </th>
                                    <th scope="col"> Password (Encrypted) </th>
                                    <th scope="col"> Status </th>
                                    <th colspan="2"> Action </th>
                                </tr>
                            </thead>

                            <tbody>
                                <% let c = 0 %>
                                <% if(displaydata.length > 0) {%>
                                    <% for(let user of displaydata) { if(user.type != 0) { %>
                                        <% const p = user.id %>
                                        <% const pass = user.password %>
                                        <tr>
                                            <!-- <td scope="row"> <%= p.substring(20, 24) %> </td> -->
                                            <td scope="row"> <%= ++c %> </td>
                                            <td> <img src="/userUploads/<%= user.image %>" style="border-radius: 50%;" alt="" height="50" width="50"> </td>
                                            <td> <%= user.name %> </td>
                                            <td> <%= user.email %> </td>
                                            <td> <%= user.mobile %> </td>
                                            <td> <%= pass.substring(0, 5) %>  ...  <%= pass.substring(55, 60) %> </td>
                                            <% if (user.status) { %>
                                                <td> <a href="deactivateUser/<%= user._id %>" class="btn btn-danger"> Deactivate </a> </td>
                                                <% } else { %>
                                                <td> <a href="activateUser/<%= user._id %>" class="btn btn-success"> Activate </a> </td>
                                            <% } %>
                                            <td> <a href="/admin/editUser/<%=user.id%>"> <button type="button" class="btn btn-outline-primary"> Edit </button> </a> </td>
                                            <td> <a href="/admin/deleteUser/<%=user.id%>"> <button class="btn btn-outline-danger"> Delete </button> </a> </td>
                                        </tr>
                                <%}}}else{%>
                                <h1> No data found </h1>
                                <% } %>
                            </tbody>
                        </table>
                        <p class="btn btn-outline-primary disabled"> Page <%= currentPage %> of <%= count %> entries </p>

                    </div>
                </div>

            </div>
            <%-include("../common/footer.ejs")%>
        </div>
        <%-include("../common/scripts.ejs")%>
    </body>

</html>