<!DOCTYPE html>
<html>

<%-include("../common/header.ejs")%>

    <body>
        <div class="wrapper">
            <%-include("../common/navbar.ejs")%>
            <%-include("../common/sidebar.ejs")%>

            <div class="content-wrapper">

                <div class="content-header">
                    <div class="container-fluid">

                        <div class="row mb-2 mt-5">
                            <div class="col-sm-6">
                                <h1 class="m-0 text-dark">
                                    <%=dashboardtitle%>
                                </h1>
                            </div>

                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                    <li class="breadcrumb-item active"> Appointment </li>
                                </ol>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row mb-2 m-auto">
                    <div class="container mt-5">
                        <h1 class="text-center mb-4"> Add New Appointment </h1>

                        <% if (message.length > 0) {%> 
                            <div class="alert alert-success">
                              <%= message %>
                            </div>
                        <% } %>

                        <form action="/admin/createAppointment" method="POST" class="mb-5">
                            <div class="form-group">
                                <label for="inputState"> Department </label>
                                <select id="inputState" class="form-control" name="department">
                                    <option disabled selected> Select Department </option>
                                    <% for(let data of displayDatas){ %>
                                        <option value="<%= data.id %>"> 
                                            <%= data.deptName %>
                                        </option>
                                    <% } %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="inputState"> Doctor's name </label>
                                <select id="inputState" class="form-control" name="doctor">
                                    <option disabled selected> Select Doctor </option>
                                    <% for(let datas of displayDatas1){ %>
                                        <option value="<%= datas.id %>"> 
                                            <%= datas.docName %>
                                        </option>
                                    <% } %>
                                </select>
                            </div>
                            
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label"> Date </label>
                                <input type="date" class="form-control" rows="3" placeholder="DD/MM/YY" name="date" required></input>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label"> Time </label>
                                <input type="time" class="form-control" rows="3" placeholder="Time of Appointment" name="time" required></input>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label"> Patient's Full Name </label>
                                <input type="text" class="form-control" rows="3" placeholder="Enter Patient's Full Name" name="patientName" required></input>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label"> Patient's Contact Number </label>
                                <input type="number" class="form-control" rows="3" placeholder="Enter Contact Number" name="phone" required></input>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label"> Patient's Message </label>
                                <textarea class="form-control resize-disabled" rows="3" placeholder="Enter Your Message" name="message" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-success"> Submit </button>
                        </form>
                    </div>
                </div>

            </div>
            <%-include("../common/footer.ejs")%>
        </div>
        <%-include("../common/scripts.ejs")%>
    </body>

</html>